<html>

<head>
    <title>practice to-do</title>
</head>

<body>
    <% if(keyday==="Thursday" || keyday==="sunday") { %>

        <h1 style="color: blue;">this is
            <%=keyday%>
        </h1>


        <% }%>



</body>

</html>