<html>

<head>
    <title>practice to-do</title>
</head>

<body>
    <% if(keyday==="saturday" || keyday==="sunday") { %>

        <h1 style="color: blue;">Today is
            <%=keyday%>
        </h1>


        <% }else %>
            <% { %>

                <h1 style="color: chartreuse;"> Today is
                    <%=keyday%>
                </h1>

                <% }%>




</body>

</html>