<%-include("partials/header.ejs")%>

    <h1>Compose</h1>

    <form action="home" method="post">
        <div class="form-group"></div>
        <label>Title</label><br>
        <input type="text" name="data" size="110"><br>
        <label>Post</label><br>
        <textarea name="area" class="form-group" cols="110" rows="5"></textarea><br>
        <button type="submit" class="btn btn-primary">Publish</button>
        </div>
    </form>


    <%-include("partials/footer.ejs")%>