<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <title>Todo-List</title>

    <link rel="stylesheet" href="css/styles.css">

</head>

<body>

    <div class="box" id="heading">
        <h1>
            its
            <%=  kindOfDay %>
        </h1>
    </div>

    <div class="box">
        <%for (var i=0;i<newLists.length; i++) { %>
            <div class="item">
                <input type="checkbox">
                <p>
                    <%=newLists[i]%>
                </p>
            </div>

            <%  }%>

                <form class="item" action="/" method="POST">
                    <input type="text" name="newItem" placeholder="New Item" autocomplete="off"><br>
                    <button type="submit">+</button>

                </form>
    </div>






</body>

</html>